[package]
name = "neovide"
version = "0.10.4"
edition = "2021"
build = "build.rs"
description = "Neovide: No Nonsense Neovim Gui"
repository = "https://github.com/neovide/neovide"
resolver = "2"

[workspace]
members = ["neovide-derive"]

[features]
default = []
embed-fonts = []

[dependencies]
copypasta = "0.8.1"
async-trait = "0.1.53"
backtrace = "0.3.67"
cfg-if = "1.0.0"
clap = { version = "4.0.8", features = ["cargo", "derive", "env"] }
csscolorparser = "0.6.2"
derive-new = "0.5.9"
dirs = "4.0.0"
euclid = "0.22.7"
flexi_logger = { version = "0.22.3", default-features = false }
futures = "0.3.21"
gl = "0.14.0"
glutin = { git = "https://github.com/neovide/glutin", branch = "new-keyboard-all", features = ["serde"] }
image = { version = "0.24.1", default-features = false, features = ["ico"] }
itertools = "0.10.5"
lazy_static = "1.4.0"
log = "0.4.16"
lru = "0.7.5"
neovide-derive = { path = "neovide-derive" }
nvim-rs = { version = "0.5.0", features = ["use_tokio"] }
parking_lot = "0.12.0"
pin-project = "1.0.10"
rand = "0.8.5"
rmpv = "1.0.0"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
swash = "0.1.4"
time = "0.3.9"
tokio = { version = "1.25.0", features = ["full"] }
tokio-util = { version = "0.7.4", features = ["compat"] }
unicode-segmentation = "1.9.0"
which = "4.2.5"
winit = { git = "https://github.com/neovide/winit", branch = "new-keyboard-all" }
xdg = "2.4.1"

[dev-dependencies]
mockall = "0.11.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["winuser", "wincon"] }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.12"

[target.'cfg(linux)'.dependencies.skia-safe]
features = ["gl", "egl"]
version = "0.52.0"

[target.'cfg(not(linux))'.dependencies.skia-safe]
features = ["gl"]
version = "0.52.0"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.24.0"
objc = "0.2.7"
shlex = "1.1.0"

[profile.release]
lto = true
incremental = true
strip = true

[package.metadata.bundle]
name = "Neovide"
identifier = "com.neovide.neovide"
icon = ["assets/neovide.ico"]
version = "0.10.4"
resources = []
copyright = "Copyright (c) Neovide Contributors 2023. All rights reserved."
category = "Productivity"
short_description = "A simple GUI for Neovim."
long_description = """
This is a simple graphical user interface for Neovim. Where possible there are some graphical improvements, but it should act functionally like the terminal UI.
"""
osx_minimum_system_version = "10.11"
