{% extends "juice/templates/index.html" %}
{% block hero %}
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
No Nonsense Neovim Client in Rust
            </h1>
            <div>
    <img src="https://badgen.net/badge/icon/discord?icon=discord&amp;label" alt="Discord"></a> <a href="https://matrix.to/#/#neovide_community:gitter.im"><img src="https://matrix.to/img/matrix-badge.svg" alt="Chat on Matrix"></a> <a href="https://github.com/neovide/neovide/discussions"><img src="https://img.shields.io/badge/GitHub-Discussions-green?logo=github" alt="Discussions"></a>
            </div>
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="assets/neovide.svg") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
{% endblock hero %}

