name: Lint Website

on:
  push:
    paths: 
        - ".github/workflows/lint.yml"
        - "website/**/*.md"
  pull_request:
    paths:
        - ".github/workflows/lint.yml"
        - "website/**/*.md"
    
jobs:
  build:
    name: Lint Website
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Lint Markdown
        uses: nosborn/github-action-markdown-cli@v3.1.0
        with:
          files: ./website
          config_file: ./website/.markdownlintrc
